body {
    padding: 0 10px;
    font-size: 12px;
}

h3, footer{
    text-align: center;
    font-weight: 100;
}

h4{
    color: #006EB6;
    font-weight: 50;
    margin-bottom: 0;
}

p{
    margin-top: 0;
}
 

@media screen and (max-width: 640px) {

    main{
        text-align: center;
    }

    h3, footer{
        text-align: center;
        font-weight: 200;
    }
}